 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.Raw {
    display: flex;
    margin: 50px auto;
    justify-content: space-between;
    width: 80%;
            /* border: thin solid black; */
            /* align-items: center; */
            /* margin-top: 60px; */
            /* padding-left: 90px; */

        }

h1 {
    font-size: 4rem;
            margin-bottom: 10px;
            line-height: 1;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .rawpan {
            /* line-height: ; */
            width: 50%;
            /* border: thin solid red; */
            padding: 20px;
        }

        .rawimg {
            width: 50%;
            /* border: thin solid black; */
            /* line-height: 2; */
        }

        .rawimg img {
            width: 480px;

        }

        button {
            padding: 20px 30px;
            background-color: blue;
            border: 0;
            color: white;
            border-radius: 12px;

        }

        p {
            margin-block: 30px;
            font-size: 1.2rem;
        }
        .ally{
            display: flex;
            margin: 50px auto;
            justify-content: space-between;
            width: 80%;
            gap: 30px;
        }

         h2{
            color: rgb(5, 8, 84);
            font-size: 45px;
            font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
            margin: 50px auto;
            justify-content: space-between;
            width: 80%;
        }

        .image{
            width: 300px;
            height: 300px;
            /* opacity: rgba(112, 112, 112, 0.3); */
            filter: grayscale(100%);
        }

        h4{
            color: rgb(0, 14, 84);
            font-size: 23px;
            font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
            line-height: 25px;
        }
        .pi{
            font-size: 15px;
            font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
            line-height: 28px;
            font-weight: bold;
            color: rgb(102, 102, 102);
        }
        a{
            color: rgb(39, 55, 79);
            font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
            font-size: 18px;
            line-height: 27px;
            display: flex;
            align-items: center;
            text-decoration: none;
            margin-bottom: 30px;
        }

        .material-symbols-outlined:hover{
            transform: translateX(8px);
            transition: all 0.5s;
        }

        .Diploma{
            display: flex;
            margin: 50px auto;
            justify-content: space-between;
            width: 80%;
            gap: 30px;
        }

        .Diploma h3{
            color: rgb(51, 51, 51);
            font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
            font-size: 17px;
            line-height: 12px;
        }

        .Diploma p{
            color: rgb(102, 102, 102);
            font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            border-bottom: thin solid rgb(0, 136, 255);
        }

        span{
            display: block;
        }

        @media (max-width: 980px) {
             .Raw {
            width: 80%;
            /* border: thin solid black; */
            flex-direction: column;
        }

          .rawpan {
           
            width: 100%;
          
        }

        .rawimg {
            width: 100%;
        }
        }
        @media (max-width:605px) {
            .rawimg img {
            width: 100%;

        }
         h1 {
            font-size: 3rem;
        }

    }

    @media (max-width:992px) {
        .ally > div, .Diploma > div{
            width: 80%;
            flex: 1 1;
        }
        
    }

    @media (min-width:600px) {
        .ally, .Diploma {
            flex-direction: column;
        }

        .ally > div, .Diploma > div {
            flex: 1 1 100%;
        }

        h2{
            font-size: 45px;
            text-align: center;
        }
        p, .pi {
            font-size: 15px;
        }
    }



